.double{
    background-color: navy;
    
}

.form h2{
    background-color: aqua;
    text-align: center;
    width: 25%;
    margin-left: 37%;
    margin-top: 5%;
    padding: 10px;
}
.log{
    
    background-color: azure;
    text-align: center;
    border: 2px solid black;
    width: 25%;
    margin-left: 37%;
    padding: 5px;
}
.log button {
    margin-bottom: 5px;
    width:250px ;
    background-color: aqua;
}
.log h4{
    border-bottom: 2px solid grey;

}
.log input{
    width: 250px;

}
